/*--------------------------------------------------------------
Search
--------------------------------------------------------------*/
#searchform {
    input[type=text]{
        width:50%;
        float:left;
    }
    input[type=submit]{
        width:50%;
        float:left;
    }
} 

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
.menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block !important;

        li{
            display:block;
            width:100%;
            float:left;
            padding:5px 0;
            border-bottom:1px solid $color__border-main;

            &:last-of-type{
                border-bottom:none;
            }
        }
    }

    .main-navigation ul {
        display: none !important;
    }
    
#footer-nav {
    display: none;
}
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/

.content-area, .site-main {
    margin:0;
}
.site-content .widget-area {
    width: $size__site-main;
}
.widget {
    margin:0 0 1.5em 0;
}

