.widget {
    background-color:rgba(142,130,100,.2);
    margin-left:10%;
    padding-bottom:1em;
    text-align: center;

    ul {
        padding:0;
        margin:0;
        list-style-type: none;
    }

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}