.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family:$font__header;
	text-align:center;
	text-transform: uppercase;
	border-bottom:1px solid $color__border-main;
	letter-spacing: 1px;
	padding:1em 0;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		display:inline-block;
		position: relative;
		margin:0 10px;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item a,
	.current-menu-item a {
	}
	.menu {
		display:inline-block;
	}
}

#footer-nav {
	display:block;
	border-top:.07143em solid $color__border-main;
	letter-spacing: 1px;
	ul {
		margin: 1em 0;
	}
	li {
		display: inline-block;
		
		&:after{
			content:" | ";
		}
		&:last-of-type {
			&:after{
				content:" ";
			}
		}
	}
}
/* Small menu */
.menu-toggle {
	display: none;
}


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}